In [1]:
from selenium import webdriver

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.statsf1.com/pt/pneus.aspx')

In [4]:
from selenium.webdriver.common.keys import Keys

In [5]:
from selenium.webdriver.common.by import By

In [6]:
lista = driver.find_elements(By.TAG_NAME, "td")

In [7]:
dados = []

for elemento in lista:
    dados.append(elemento.text)
    
dados

['Pneus',
 'Início',
 'Avon',
 '1954',
 'Bridgestone',
 '1976',
 'Continental',
 '1954',
 'Dunlop',
 '1950',
 'Englebert',
 '1950',
 'Firestone',
 '1950',
 'Goodyear',
 '1964',
 'Michelin',
 '1977',
 'Pirelli',
 '1950',
 '',
 '']

In [8]:
pneu_marca = dados [2::2]
pneu_marca

['Avon',
 'Bridgestone',
 'Continental',
 'Dunlop',
 'Englebert',
 'Firestone',
 'Goodyear',
 'Michelin',
 'Pirelli',
 '']

In [9]:
pneu_marca = pneu_marca[:-1]
pneu_marca

['Avon',
 'Bridgestone',
 'Continental',
 'Dunlop',
 'Englebert',
 'Firestone',
 'Goodyear',
 'Michelin',
 'Pirelli']

In [16]:
pneu_ano = dados[2:] 
 
pneu_ano

['Avon',
 '1954',
 'Bridgestone',
 '1976',
 'Continental',
 '1954',
 'Dunlop',
 '1950',
 'Englebert',
 '1950',
 'Firestone',
 '1950',
 'Goodyear',
 '1964',
 'Michelin',
 '1977',
 'Pirelli',
 '1950',
 '',
 '']

In [17]:
pneu_ano = dados[1::2] 
pneu_ano

['Início',
 '1954',
 '1976',
 '1954',
 '1950',
 '1950',
 '1950',
 '1964',
 '1977',
 '1950',
 '']

In [18]:
pneu_ano = pneu_ano[1:] 
pneu_ano

['1954', '1976', '1954', '1950', '1950', '1950', '1964', '1977', '1950', '']

In [19]:
pneu_ano = pneu_ano[:-1] 
pneu_ano

['1954', '1976', '1954', '1950', '1950', '1950', '1964', '1977', '1950']

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame({
    'Pneu':pneu_marca,
    'Ano':pneu_ano,
})

In [22]:
df

          Pneu   Ano
0         Avon  1954
1  Bridgestone  1976
2  Continental  1954
3       Dunlop  1950
4    Englebert  1950
5    Firestone  1950
6     Goodyear  1964
7     Michelin  1977
8      Pirelli  1950

In [24]:
df.to_excel('Pneu_ano.xlsx',index=False)